* {
    background-color: #6b705c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddbea9;
}

img {
    height: auto;
    width: 400px;
}

a {
    text-decoration: none;
    color: #b7b7a4;
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #ffe8d6;
}

.lasagna {
    text-align: center;
}

h2 {
font-weight: 700;
font-size: 40px;
color: #ffe8d6;
}

h3 {
    font-weight: 700;
    color: #b7b7a4;
}